<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>

  <%- include('navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">A Blog For Various Articles</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

    <!-- Search Bar -->
    <form name="SearchPost" action="/post/search" method="POST" class="inline-form d-flex justify-content-center md-form form-sm active-pink-2 mt-2">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
        aria-label="Search" name="search" id="search">
      <button type="submit" id="SearchPost"> <i class="fas fa-search" aria-hidden="true"></i></button>
    </form>

    <!-- Posts -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (var i = 0; i < blogposts.length; i++) { %>
        <div class="post-preview">
          <a href="post">
            <h2 class="post-title">
              <%= blogposts[i].title%>
            </h2>
            <h3 class="post-subtitle">
              <%= blogposts[i].body %>
            </h3>
            <p class="post-meta">Posted by Jakin at <%= blogposts[i].date %> </p>
          </a>
        </div>
        <hr>
        <% } %>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <%- include('footer') -%>
  <%- include('script') -%>

</body>

</html>
